{% extends "layout.html" %}

{% block title %}DMARC Reports Viewer{% endblock %}
{% block header %}DMARC Reports Viewer{% endblock %}

{% block content %}
    {% for report in reports %}
    <div class="container">

    <div class="row mb-5 position-relative">
      <div class="marker-date d-none d-md-block">
        <span class="badge text-bg-secondary rounded-pill py-4">{{ report.rdate | datetimeformat('EEEE dd MMMM') }}</span>
      </div>

      <div class="d-flex justify-content-between align-items-center border-bottom mb-3 flex-wrap">
        <h2 class="m-0">
          {{ report.orgname }}
        </h2>
        <small class="mw-100 text-truncate">
          <code>{{ report.filename }}</code>
        </small>
      </div>

      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 lh-base text-center mb-4">
        <div class="col">
          {{ dmarc.tbx("Received on", "secondary", report.received | datetimeformat('dd MMM YYYY, HH:mm')) }}
          {{ dmarc.tbx("Received at", "secondary", report.receiver) }}
        </div>
        <div class="col">
          {{ dmarc.tba("DKIM Alignment", report.adkim) }}
          {{ dmarc.tba("SPF Alignment", report.aspf) }}
        </div>
        <div class="col">
          {{ dmarc.tba("Disposition", report.policy) }}
          {{ dmarc.tba("Sub-disposition", report.subpolicy) }}
        </div>
        <div class="col d-flex align-items-center justify-content-center flex-column">
          {{ dmarc.tbx("Domain", "blue", report.domain) }}
          <div class="d-block d-md-none">
          {{ dmarc.tbx("Report for", "secondary", report.rdate | datetimeformat('EEE dd MMM YYYY')) }}
          </div>
        </div>
      </div>

      <div class="container-table-data">
        <div class="row fw-bold">
          <div class="col-12 col-sm-3">Count / Source</div>
          <div class="col-12 col-sm-2">Disposition</div>
          <div class="col-12 col-sm-4">DKIM</div>
          <div class="col-12 col-sm-3">SPF</div>
        </div>
        {% for record in report.records %}
        <div class="row">
          <div class="font-monospace col-12 col-lg-3 d-flex align-items-center flex-wrap">
            <div class="ps-1 pe-3 mails-counter">
              <span class="badge text-bg-blue-{{ dmarc.xweight(record.eamount, 40) }} rounded-pill">{{ record.eamount }}</span>
            </div>
            <div>
            {{ record.source }}
            <br>
            <code class="fw-bold">{{ record.mailfrom }}</code>
            {% if record.mailto is not none %}
              <code>&gt; {{ record.mailto }}</code>
            {% endif %}
            </div>
          </div>
          <div class="col-12 col-lg-2 text-bg-{{ dmarc.tsev(record.edisp) }}-subtle d-flex align-items-center">
            {{ dmarc.tbs(record.edisp) }}
          </div>
          <div class="col-12 col-lg-4 text-bg-{{ dmarc.tsev(record.edkim) }}-subtle d-flex align-items-center flex-wrap">
            {% if record.dkimdom != report.domain %}
              {{ dmarc.tbals("warning", record.dkimdom, record.dkimresult) }}
            {% else %}
              <div class="w-100">
              {{ dmarc.tba(record.dkimdom, record.dkimresult) }}
              </div>
            {% endif %}

            {% if record.edkim != 4 %}
              {{ dmarc.tba("Evaluation", record.edkim) }}
            {% endif %}
          </div>
          <div class="col-12 col-lg-3 text-bg-{{ dmarc.tsev(record.spfresult) }}-subtle d-flex align-items-center flex-wrap">
            <div class="w-100">
            {{ dmarc.tba(record.spfdom, record.spfresult) }}
            </div>

            {% if record.espf != 4 %}
            {{ dmarc.tba("Evaluation", record.espf) }}
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

    </div> <!-- container -->

    <hr class="border border-primary border-2 opacity-10 mb-5">
    {% endfor %}
{% endblock %}
